*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 20vh;
    border-bottom: 1px solid #000;
}

h1 {
    align-self: center;
    font-size: 5rem;
    text-align: center;
}

aside {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30vw;
    height: 80vh;
    border-right: 1px solid #000;
}

button {
    width: 40%;
    padding: 10px 0;
    margin-top: 10px;
    border: 1px solid #000;
    background: none;
    cursor: pointer;
    transition: box-shadow .3s;
}

button:hover {
    box-shadow: 0px 0px 5px 0px gray;
}

button:focus {
    outline: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 69vw;
}

main p {
    margin-top: 35px;
    font-size: 1.6rem;
}

main .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

main .modal__frame {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    left: 20%;
    top: 15%;
    width: 60%;
    height: 70%;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px #888;
    background-color: #fff;
    /* overflow: auto; */
    overflow-x: hidden;
}

main .modal__frame-header {
    height: 25px;
    padding: 15px;
    font-size: 1.6rem;
    font-weight: 700;
    border-bottom: 1px solid #888;
}

main .modal__frame-header-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

main .modal__frame-content {
    padding: 0 20px;
    width: 100%;
}

main .modal__frame-content pre {
    padding-top: 15px;
    font-size: 1.2rem;
}

main .modal__frame-footer {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    left: 0;
    padding: 10px;
    border-top: 1px solid #888;
    width: 100%;
}

main .modal__frame-footer button {
    width: 15%;
    margin: 0 15px 0 0;
    border: 1px solid #000;
    background: none;
    cursor: pointer;
    transition: .3s;
}

main .modal__frame-footer button:hover {
    box-shadow: 0px 0px 5px 0px gray;
}

@media (max-width: 600px) {
    aside {
        width: 100vw;
        height: 20vh;
        border-right: none;
        border-bottom: 1px solid #000;
    }

    main {
        width: 100vw;
    }

    button {
        width: 60vw;
    }
}